<div id="header" class="container-fluid py-3 bg-light shadow-sm position-relative">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.png" alt="Shopee" class="me-2" style="width: 70px;">
        <span class="fs-4 fw-bold">E Commerce</span>
    </a>
    <div class="d-flex align-items-left position-absolute top-50 end-0 translate-middle-y">
        <div>
            <a href="/" class="btn btn-primary me-2">
                Products 
            </a>
        </div>
        <div>
            <a href="/carts" class="btn btn-primary me-2">
                Cart 
            </a>
        </div>
    </div>
</div>