<div id="header" class="container-fluid py-3 bg-light shadow-sm">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.png" alt="Shopee" class="me-2" style="width: 70px;">
        <span class="fs-4 fw-bold">E Commerce</span>
    </a>
</div>